<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>asd</title>
    {{!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> --}}
    <link rel="stylesheet" href="./stylesheets/main.css">
</head>

<body>
    <div class="container">

        <div class="main-toolbar">



            <script type="text/javascript">
                var recognition = new webkitSpeechRecognition();
                recognition.maxAlternatives = 10;
                recognition.onresult = function (event) {
                    console.log(event)
                    if (event.results.length > 0) {
                        var result = event.results[0];
                        for (var i = 0; i < result.length; ++i) {
                            var text = result[i].transcript;
                            select.options[i] = new Option(text, text);
                        }
                    }
                }

                function start() {
                    select.options.length = 0;
                    recognition.start();
                }
            </script>
            <select id="select"></select>
            <button onclick="start()">Click to Speak</button>


            <form action="/search" method="post">

                <input type="text" name="search" id="form-input-search" placeholder="Recipe title, ingredients..">
                <button class="main-search-button" type="submit"><i class="fas fa-search"></i></button>
                <button id="main-button-user" class="main-search-button"><i class="fas fa-user"></i></button>
            </form>
        </div>
        <div class="main-toolbar-space"></div>

        <div class="main-cards">

            {{#each recipes}}
            <div class="card">
                <input hidden type="text" value="{{this._id}}">
                <div class="card-img">
                    <img src="{{this.photoUrl}}" alt="recipe">
                </div>
                <div class="card-info">
                    <h1>{{this.title}}</h1>
                    <p class="card-author">{{this.authorId.username}}</p>
                </div>
                <hr>

                <div class="card-options">
                    <p><i class="far fa-eye"></i> {{this.views}}</p>
                    <p><i class="fas fa-utensils"></i> {{this.likes}}</p>
                    <p><i class="far fa-comments"></i> {{this.comments.length}}</p>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="button-add">
            <a href="/recipes/add"><i class="fas fa-plus"></i></a>
        </div>

    </div>

    <script src="/javascripts/main.js"></script>
</body>

</html>