<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <a href="/user/favs">See favs</a>
    <div>
        {{#each }}
        {{/each}}
    </div>
    <div class="container">

        <div class="main-cards">

            {{#each ownRecipes}}
            <div class="card">
                <input hidden type="text" value="{{this._id}}">
                <div class="card-img">
                    <img src="{{this.photoUrl}}" alt="recipe">
                </div>
                <h4>{{this.title}}</h4>
                <hr>
                <div class="card-options">
                    <p><i class="far fa-eye"></i> {{this.views}}</p>
                    <p><i class="fas fa-utensils"></i> {{this.likes}}</p>
                    <p><i class="far fa-comments"></i> 12</p>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="button-add">
            <a href="/recipes/add"><i class="fas fa-plus"></i></a>
        </div>

    </div>
    <form action="/auth/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
    <script src="/javascripts/main.js"></script>

</body>



</html>