<a href="/">Go back</a>
<h1>{{recipe.title}}</h1>
<div>
  <img src="{{recipe.photoUrl}}" alt="image">
</div>
<p>Ingredients: {{recipe.ingredients}}</p>
<p>Categories: {{recipe.category}}</p>
<p>Cookingtime: {{recipe.cookingTime}}</p>
<p>Description: {{recipe.description}}</p>
<p>Views: {{recipe.views}}</p>
<p>Likes: {{recipe.likes}}</p>
<p>Created by: {{recipe.authorId.username}}</p>

{{!-lo siguiente compara que el id del creador sea igual al id del actual usuario, currentUser es una varibale global}}
{{#if isCreator}}
<a href="/recipes/{{recipe._id}}/edit">Edit Recipe</a>
<form action="/recipes/{{recipe._id}}/delete" method="POST">
 <button type="submit">Delete recipe</button>
</form>
{{/if }}
